@use "user_vars" as *;
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

  %clearfix {
 
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}